.form-control {
  display: inline-block;
  width: 100px;
  margin-top: 20px;
}
.text-center {
  text-align: center;
}

.select_width {
  width: 100px;
  max-width: 100%; /* So it doesn't overflow from it's parent */
}

.option_width {
  /* wrap text in compatible browsers */
  -moz-white-space:pre-wrap; 
  -o-white-space:pre-wrap; 
  white-space:pre-wrap; 

  /* hide text that can't wrap with an ellipsis */
  overflow: hidden;
  text-overflow:ellipsis;

  /* add border after every option */
  border-bottom: 1px solid #DDD;
}
